/* Minimal CSS for Header, Menu, and Loading States */
@import url(font-awesome.min.css);

/* Box Model */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Loading State */
body.is-loading *, body.is-loading *:before, body.is-loading *:after {
  animation: none !important;
  transition: none !important;
}

/* Body padding for fixed header */
body {
  padding-top: 6em;
}

@media screen and (max-width: 980px) {
  body {
    padding-top: 44px;
  }
}

/* Header */
#header {
  align-items: center;
  background: #fff;
  cursor: default;
  height: 6em;
  left: 0;
  line-height: 6em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
  text-align: center;
}

#header .logo {
  color: #f6755e;
  font-family: "Pacifico", cursive;
  font-size: 2.5em;
  letter-spacing: 2px;
  margin-top: -5px;
  text-decoration: none;
  display: inline-block;
}

#header nav {
  position: absolute;
  top: 0;
  height: inherit;
  line-height: inherit;
}

#header nav.left {
  left: 2em;
}

#header nav.right {
  right: 2em;
}

#header nav a {
  text-decoration: none;
  display: inline-block;
}

#header nav a[href="#menu"] {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 2em;
  color: #dee1e3;
  z-index: 10005;
}

#header nav a[href="#menu"]:before {
  content: "\f0c9";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

#header nav a[href="#menu"] span {
  display: none;
}

@media screen and (max-width: 980px) {
  #header {
    height: 44px;
    line-height: 44px;
  }

  #header .logo {
    font-size: 1.25em;
    text-align: center;
  }

  #header nav a[href="#menu"] {
    font-size: 1.5em;
  }

  #header nav.left {
    left: 1em;
  }

  #header nav.right {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  #header {
    min-width: 320px;
  }
}

/* Menu */
#menu {
  transform: translateX(-20em);
  transition: transform 0.5s ease, visibility 0.5s;
  -webkit-overflow-scrolling: touch;
  background: #25a2c3;
  color: #ffffff;
  height: 100%;
  max-width: 80%;
  overflow-y: auto;
  padding: 3em 2em;
  position: fixed;
  left: 0;
  top: 0;
  visibility: hidden;
  width: 20em;
  z-index: 10002;
}

#menu > ul {
  margin: 0 0 1em 0;
}

#menu > ul.links {
  list-style: none;
  padding: 0;
}

#menu > ul.links > li {
  padding: 0;
}

#menu > ul.links > li > a:not(.button) {
  border: 0;
  border-top: solid 1px rgba(255, 255, 255, 0.25);
  color: inherit;
  display: block;
  line-height: 3.5em;
  text-decoration: none;
}

#menu > ul.links > li:first-child > a:not(.button) {
  border-top: 0 !important;
}

#menu .close {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  border: 0;
  color: #a7d9e7;
  cursor: pointer;
  display: block;
  height: 3.25em;
  line-height: 3.25em;
  padding-right: 1.25em;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  vertical-align: middle;
  width: 7em;
}

#menu .close:before {
  content: "\f00d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25em;
}

#menu .close:hover {
  color: #ffffff;
}

@media screen and (max-width: 736px) {
  #menu .close {
    height: 4em;
    line-height: 4em;
  }

  #menu {
    padding: 2.5em 1.75em;
  }
}

#menu.visible {
  transform: translateX(0);
  visibility: visible;
}
